@import url("stars.css");

@font-face {
  font-family: Now;
  src: url("src/fonts/Now-Regular.otf");
}

@font-face {
  font-family: Rail;
  src: url("src/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: RAGE;
  src: url("src/fonts/RAGE.ttf");
}

@font-face {
  font-family: Almara;
  src: url("src/fonts/Almara Demo.ttf");
}

@font-face {
  font-family: Balsoon;
  src: url("src/fonts/Balsoon.ttf");
}

@font-face {
  font-family: hike;
  src: url("src/fonts/Hitch-hike.otf");
}

@font-face {
  font-family: Nadheva;
  src: url("src/fonts/NadhevaDemoRegular.ttf");
}


@font-face {
  font-family: Vonique;
  src: url("src/fonts/Vonique 64.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Now;
}

html{
    font-size: 12px;
    scroll-behavior: smooth;
    //scroll-snap-type: y proximity;
}

body{
    user-select: none;
    z-index: 2;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    color: white;
    #load{
        position: fixed;		
        left: 50%;
        top: 50%;				
        padding: 100%;
        background: white;
        color:black;
        font-size:20px;
        opacity:1;
        visibility: visible;
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
        z-index: 100;
        transition:600ms;
        &.done{
          visibility: hidden;
          opacity:0;
          z-index: -10;
        }
    }

    #mainlogo{
      top: 0;
      left: 0;
      position: absolute;
      z-index: 10;
      padding: 2rem 0 0 2rem;
      img{
        height: 5rem;
        width: 5rem;
        filter: invert(1);
      }
      mix-blend-mode: soft-light;
   }
}

.title-1{
    font-size: 8rem;
}

.title-2{
    font-size: 3rem;
    font-family: Vonique;
}

.title-3{
 font-size: 2rem;
 text-align: left;
}

strong{
  color: #81b5d6;
  transition: 600ms;
  &:hover{
    cursor: pointer;
    color: white;
    text-shadow: 0 0 10px #2dacfa;
  }
}


header{
      position: fixed;
      top: 0;
      right: -50vw;
      z-index: 5;
      transition: 1s;

    &.loaded{
      right: 0;
    }
    nav{
        display: grid;
        grid-auto-flow: column;
        justify-content: right;
        gap: 2rem;
        padding: 1rem 2rem;
        list-style: none;
        border-radius: 50px;
        background: white;
        color: black;
        margin: 1rem;
        li{
          position: relative;
          transition: 600ms;
          &:hover{
            transform: scale(1.2);
            color: rgb(0, 110, 255);
            cursor: pointer;
          }
        }
    }
}

section{
    position: relative;
   // scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: justify;
    padding-top: 2rem;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    //background:  rgb(240, 248, 253);
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
    font-size: 1.2rem;
}


#home{
    display: grid;
    grid-template-columns:  1fr;
    margin: 0;
    max-height: 100vh;
    transition: 600ms;
    background: #f4faff;
    color: rgb(0, 0, 0);
    background: url("src/images/cover-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    img, .content{
      grid-row: 1/2;
    }
      img{
        z-index: 1;
        position: relative;
        grid-column: 1/5;
        height: 100vh;
        clip-path: polygon(53% 0, 100% 0%, 100% 100%, 0 100%);
        mix-blend-mode: multiply;
      }
      .content{
        z-index: 2;
        grid-column: 1/5;
        align-self: center;
        overflow: visible;
      }
    #name{
      transition: 600ms;
      font-size: 3rem;
      text-align: left;
    }
    #bio {
      position: relative;
      top: 0px;
      opacity: 1;
      transition: 1s;
    }
    .bio{
        text-align: justify;
        font-size: 1.2rem;
    }

    #cursor{
      animation: blink 1s infinite;
    }

    .resume{
      a, a:hover, a:focus, a:active {
        text-decoration: none;
        color: inherit;
      }
      position: relative;
      background: black;
      color: white;
      border-radius: 5px;
      max-width: max-content;
      padding: 1rem;
      left: 50%;
      top: 10px;
      transform: translateX(-50%)scale(1);
      text-shadow: none;
      transition: 800ms;
      &:hover{
        cursor: pointer;
        transform: translateX(-50%)scale(1.1);
      }
    }
    .btn{
      position: relative;
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 600ms;
        &:hover{
          cursor: pointer;
        }
        .chevron {
          position: absolute;
          width: 2.1rem;
          height: 0.48rem;
          opacity: 0;
          transform: scale(0.3);
          animation: move-chevron 3s ease-out infinite;
          &:first-child {
            animation: move-chevron 3s ease-out 1s infinite;
          }
          
          &:nth-child(2) {
            animation: move-chevron 3s ease-out 2s infinite;
          }
          
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 50%;
            background: #2c3e50;
          }
          
          &:before {
            left: 0;
            transform: skewY(30deg);
          }
          
          &:after {
            right: 0;
            width: 50%;
            transform: skewY(-30deg);
          }
        }
        
    }
}

#home[data-scroll="in"]{
  top: 0;
}

.about{
  position: relative;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 600ms;
  z-index: 4;
  background: linear-gradient(#f2faff,#e8f9ff);
  color: #090a0f;
  border-bottom-right-radius: 25vw;
  #about-img{
    height: 60vw;
    z-index: 5;
    border-radius: 50%;
    box-shadow: 0 0 0 10px white;
  }
  #quote{
    height: 50px;
    width: 50px;
  }
  div{
    position: inherit;
    left: -10vw;
    opacity: 0;
    transition: 600ms;
    &[data-scroll="in"]{
      left: 0;
      opacity: 1;
    }
  }
}


.skills{
  transition: 600ms;
  color: white;
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
  height: max-content;
  div{
    position: relative;
    left: 10px;
    opacity: 0;
    transition: 600ms;
    &[data-scroll="in"]{
      left: 0;
      opacity: 1;
    }
    .container{
      display: grid;
      grid-auto-flow: row;
      gap: 4rem;
      position: relative;
    }

    .language .skillbox .percentage {
        background-color: #DDDDDD;
        border-radius: 5px;
      }
      .language .skillbox .percentage div {
        border-radius: 5px;
        padding-left: 3px;
      }
      .language .skillbox .percentage{
        height: 5px;
      }
      .language .skillbox #c {
        background-color: #4f89f5;
        width: 85%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
      
      .language .skillbox #cplus {
        background-color: #3402a7;
        width: 90%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
      
     
      
      .language .skillbox #cs {
        background-color: #4e4eca;
        width: 70%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #java {
        background-color: #F56161;
        width: 75%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #py {
        background-color: #1463da;
        width: 80%;
        color: white;
        padding-left: 5px;transition: 600ms;
      }
     
      .language .skillbox #kt {
        background-color: #123f92;
        width: 60%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #go {
        background-color: #4f9ffa;
        width: 60%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #html {
        background-color: #ff8800;
        width: 90%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #css {
        background-color: #8ac1ff;
        width: 75%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #js {
        background-color: #f8fa76;
        width: 60%;
        color: black;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #php {
        background-color: #7699fa;
        width: 50%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #sketch {
        background-color: black;
        width: 80%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
    
      .language .skillbox #digi {
        background-color: #ffc493;
        width: 85%;
        color: black;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #logo {
        background-color: #ff3b3b;
        width: 90%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
     
      .language .skillbox #threed {
        background-color: #fdff70;
        width: 65%;
        color: black;
        padding-left: 5px;
        transition: 600ms;
      }
      
      .language .skillbox #twod {
        background-color: #7473ac;
        width: 70%;
        color: white;
        padding-left: 5px;
        transition: 600ms;
      }
      
      .percentage div {
        height: 5px;
      }
  }
}

.contact_me {
    position: relative;
    margin: 0;
    color: white;
    text-align: center;
    opacity: 1;
    transition: 600ms;
    z-index: 2;
    background:  radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow-y: hidden;
    border-top-left-radius: 25vw;
  }
  
  .contact_me form input[type=text], .contact_me form input[type=email] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 88vw;
    outline: none;
    color: white;
    border-radius: 24px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .contact_me form input[type=text]:focus, .contact_me form input[type=email]:focus {
    background-color: transparent;
    width: 90vw;
    border-color: #1ca1c2;
  }
  .contact_me form input[type=submit] {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    cursor: pointer;
  }
  .contact_me form input[type=submit]:hover {
    background: white;
    color: black;
    -webkit-box-shadow: 0 0 20px white;
            box-shadow: 0 0 20px white;
  }
  .contact_me form textarea {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid white;
    padding: 14px 10px;
    width: 88vw;
    outline: none;
    color: white;
    border-radius: 24px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  .contact_me form textarea:focus {
    width: 90vw;
    border-color: #1ca1c2;
  }

  ::placeholder {
    font-family: Now;
    color: white;
    font-size: 1rem;
  }
  .game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }


  .socials {
    text-align: center;
  }
  
  .socials .title-3 {
    text-align: center;
  }
  
  .socials #sites {
    padding: 10px;
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }

footer {
    font-size: 1rem;
    text-align: center;
    color: white;
    background: black;
    padding: 5px;
    padding-top: 3rem;
    scroll-snap-align: start;
}


#content{
  position: absolute;
  color: #090a0f;
  font-size: 3rem;
  z-index: 100;
}

@keyframes blink {
  50%{
    color: white;
  }
  100%{
    color: black;
  }
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}


@media screen and (max-width: 900px) {
  html{
    font-size: 11px;
  }
}

@media screen and (max-width: 700px) {
  html{
    font-size: 10px;
  }
}


@media (orientation: landscape) and (min-device-aspect-ratio: 1/1) {
    #home{
      grid-template-columns: repeat(5, 1fr);
      img, .content{
        grid-row: 1/2;
      }
        img{
          position: absolute;
          top: -2rem;
          grid-column: 3/5;
          height: 100vh;
        }
        .content{
          grid-column: 1/4;
          align-self: center;
        }
        .bio{
          max-width: 75%;
        }
    }
    .about{
      display: flex;
      flex-direction: row;
      border-bottom-right-radius: 25vh;
      #about-img{
        max-height: 50vh;
      }
      #quote{
        height: 50px;
        width: 50px;
      }
    }
    .skills{
      padding-left: 5%;
      padding-right: 5%;

      .container{
        display: grid;
        grid-auto-flow: column;
        gap: 2rem;
      }
    }
    .contact_me{
      border-top-left-radius: 25vh;
    }
    .contact_me form input[type=text], .contact_me form input[type=email] {
      width: 50vw;
    }
    .contact_me form input[type=text]:focus, .contact_me form input[type=email]:focus {
      width: 55vw;
    }
    .contact_me form textarea {
      width: 50vw;
    }
    .contact_me form textarea:focus {
      width: 55vw;
    }
}
