@import url("stars.css");
@font-face {
  font-family: Now;
  src: url("src/fonts/Now-Regular.otf");
}

@font-face {
  font-family: Rail;
  src: url("src/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: RAGE;
  src: url("src/fonts/RAGE.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Now;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: white;
}

body #load {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 100%;
  background: white;
  color: black;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
          transform: translate(-50%, -50%) rotate(0deg) scale(1);
  z-index: 10;
  -webkit-transition: 600ms;
  transition: 600ms;
}

body #load.done {
  visibility: hidden;
  opacity: 0;
  z-index: -10;
}

body #mainlogo {
  top: 0;
  position: absolute;
  color: white;
  font-size: 3rem;
  padding: 2rem;
  font-family: RAGE;
}

.title-1 {
  font-size: 5rem;
}

.title-2 {
  font-size: 1.9rem;
}

.title-3 {
  font-size: 1.5rem;
  text-align: left;
}

strong {
  color: #81b5d6;
  -webkit-transition: 600ms;
  transition: 600ms;
}

strong:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0 0 10px #2dacfa;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
}

header nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 2rem;
  padding: 1rem 2rem;
  list-style: none;
  border-radius: 50px;
  background: white;
  color: black;
  margin: 1rem;
}

header nav li {
  position: relative;
  -webkit-transition: 600ms;
  transition: 600ms;
}

header nav li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #006eff;
  cursor: pointer;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  padding-top: 2rem;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  margin-top: 5.5rem;
  -webkit-transition: 600ms;
  transition: 600ms;
  border-top-left-radius: 25vw;
  background: #f4faff;
  color: #272727;
}

#home img {
  width: 100vw;
}

#home #name {
  position: relative;
  left: -10vw;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#home #name[data-scroll="in"] {
  opacity: 1;
  left: 0;
}

#home #bio {
  position: relative;
  top: 20px;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

#home #bio[data-scroll="in"] {
  top: 0;
  opacity: 1;
}

#home #name div {
  font-family: RAGE;
}

#home .bio {
  text-align: justify;
}

#home .btn {
  position: absolute;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  width: 5ch;
  height: 5ch;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 600ms;
  transition: 600ms;
}

#home .btn:hover {
  cursor: pointer;
}

#home .btn .chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

#home .btn .chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

#home .btn .chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

#home .btn .chevron:before, #home .btn .chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

#home .btn .chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

#home .btn .chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

#home[data-scroll="in"] {
  top: 0;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 600ms;
  transition: 600ms;
  z-index: 4;
  background: -webkit-gradient(linear, left top, left bottom, from(#f4faff), to(#e4f6fc));
  background: linear-gradient(#f4faff, #e4f6fc);
  color: #090a0f;
  border-bottom-right-radius: 25vw;
}

.about #about-img {
  height: 100vw;
  z-index: 5;
}

.about #quote {
  height: 50px;
  width: 50px;
}

.about div {
  position: inherit;
  left: -10vw;
  opacity: 0;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.about div[data-scroll="in"] {
  left: 0;
  opacity: 1;
}

.skills {
  -webkit-transition: 600ms;
  transition: 600ms;
  color: white;
  padding: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.skills div {
  position: relative;
  left: 10vw;
  opacity: 0;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div[data-scroll="in"] {
  left: 0;
  opacity: 1;
}

.skills div .container {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  gap: 4rem;
  position: relative;
}

.skills div .language .skillbox .percentage {
  background-color: #DDDDDD;
  border-radius: 5px;
}

.skills div .language .skillbox .percentage div {
  border-radius: 5px;
  padding-left: 3px;
}

.skills div .language .skillbox .percentage {
  height: 5px;
}

.skills div .language .skillbox #c {
  background-color: #4f89f5;
  width: 85%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #cplus {
  background-color: #3402a7;
  width: 90%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #cs {
  background-color: #4e4eca;
  width: 70%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #java {
  background-color: #F56161;
  width: 75%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #py {
  background-color: #1463da;
  width: 80%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #kt {
  background-color: #123f92;
  width: 60%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #go {
  background-color: #4f9ffa;
  width: 60%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #html {
  background-color: #ff8800;
  width: 90%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #css {
  background-color: #8ac1ff;
  width: 75%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #js {
  background-color: #f8fa76;
  width: 60%;
  color: black;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #php {
  background-color: #7699fa;
  width: 50%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #sketch {
  background-color: black;
  width: 80%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #digi {
  background-color: #ffc493;
  width: 85%;
  color: black;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #logo {
  background-color: #ff3b3b;
  width: 90%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #threed {
  background-color: #fdff70;
  width: 65%;
  color: black;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .language .skillbox #twod {
  background-color: #7473ac;
  width: 70%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.skills div .percentage div {
  height: 5px;
}

.contact_me {
  position: relative;
  margin: 0;
  color: white;
  text-align: center;
  opacity: 1;
  -webkit-transition: 600ms;
  transition: 600ms;
  z-index: 2;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-y: hidden;
  border-top-left-radius: 25vw;
}

.contact_me form input[type=text], .contact_me form input[type=email] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 88vw;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.contact_me form input[type=text]:focus, .contact_me form input[type=email]:focus {
  background-color: transparent;
  width: 90vw;
  border-color: #1ca1c2;
}

.contact_me form input[type=submit] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.contact_me form input[type=submit]:hover {
  background: white;
  color: black;
  -webkit-box-shadow: 0 0 20px white;
  box-shadow: 0 0 20px white;
}

.contact_me form textarea {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 88vw;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.contact_me form textarea:focus {
  width: 90vw;
  border-color: #1ca1c2;
}

.socials {
  text-align: center;
}

.socials .title-3 {
  text-align: center;
}

.socials #sites {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

::-webkit-input-placeholder {
  font-family: Now;
  color: white;
  font-size: 1rem;
}

:-ms-input-placeholder {
  font-family: Now;
  color: white;
  font-size: 1rem;
}

::-ms-input-placeholder {
  font-family: Now;
  color: white;
  font-size: 1rem;
}

::placeholder {
  font-family: Now;
  color: white;
  font-size: 1rem;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

footer {
  font-size: 1rem;
  text-align: center;
  color: black;
  background: #ffffff;
  padding: 5px;
  padding-top: 3rem;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  scroll-snap-align: start;
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }
}

@media (orientation: landscape) and (min-device-aspect-ratio: 1 / 1) {
  #home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    padding-left: 4rem;
    max-height: 100vh;
    border-top-left-radius: 25vh;
  }
  #home img {
    width: 50vw;
  }
  #home .btn {
    left: 25%;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border-bottom-right-radius: 25vh;
  }
  .about #about-img {
    max-height: 25vw;
  }
  .about #quote {
    height: 50px;
    width: 50px;
  }
  .skills {
    padding-left: 5%;
    padding-right: 5%;
  }
  .skills .container {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    gap: 2rem;
  }
  .contact_me {
    border-top-left-radius: 25vh;
  }
  .contact_me form input[type=text], .contact_me form input[type=email] {
    width: 50vw;
  }
  .contact_me form input[type=text]:focus, .contact_me form input[type=email]:focus {
    width: 55vw;
  }
  .contact_me form textarea {
    width: 50vw;
  }
  .contact_me form textarea:focus {
    width: 55vw;
  }
}
/*# sourceMappingURL=style.css.map */