@import url("stars.css");
@font-face {
  font-family: Now;
  src: url("./../../src/fonts/Now-Regular.otf");
}

@font-face {
  font-family: Rail;
  src: url("./../../src/fontsRaleway-Regular.ttf");
}

@font-face {
  font-family: RAGE;
  src: url("./../../src/fontsRAGE.ttf");
}

@font-face {
  font-family: Almara;
  src: url("./../../src/fonts/Almara Demo.ttf");
}

@font-face {
  font-family: Balsoon;
  src: url("./../../src/fonts/Balsoon.ttf");
}

@font-face {
  font-family: hike;
  src: url("./../../src/fonts/Hitch-hike.otf");
}

@font-face {
  font-family: Nadheva;
  src: url("./../../src/fonts/NadhevaDemoRegular.ttf");
}

@font-face {
  font-family: Vonique;
  src: url("./../../src/fonts/Vonique 64.ttf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Now;
}

html {
  font-size: 12px;
  scroll-behavior: smooth;
}

body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 2;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: white;
}

body #load {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 100%;
  background: white;
  color: black;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
          transform: translate(-50%, -50%) rotate(0deg) scale(1);
  z-index: 100;
  -webkit-transition: 600ms;
  transition: 600ms;
}

body #load.done {
  visibility: hidden;
  opacity: 0;
  z-index: -10;
}

body #mainlogo {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  padding: 2rem 0 0 2rem;
  mix-blend-mode: soft-light;
}

body #mainlogo img {
  height: 5rem;
  width: 5rem;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.title-1 {
  font-size: 8rem;
}

.title-2 {
  font-size: 3rem;
  font-family: Vonique;
}

.title-3 {
  font-size: 2rem;
  text-align: left;
}

strong {
  color: #81b5d6;
  -webkit-transition: 600ms;
  transition: 600ms;
}

strong:hover {
  cursor: pointer;
  color: white;
  text-shadow: 0 0 10px #2dacfa;
}

header {
  position: fixed;
  top: 0;
  right: -50vw;
  z-index: 5;
  -webkit-transition: 1s;
  transition: 1s;
}

header.loaded {
  right: 0;
}

header nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 2rem;
  padding: 1rem 2rem;
  list-style: none;
  border-radius: 50px;
  background: white;
  color: black;
  margin: 1rem;
}

header nav li {
  position: relative;
  -webkit-transition: 600ms;
  transition: 600ms;
}

header nav li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #006eff;
  cursor: pointer;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
  padding-left: 5%;
  padding-right: 5%;
  overflow: hidden;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-size: 1.2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  min-height: 100vh;
  -webkit-transition: 600ms;
  transition: 600ms;
  color: black;
  background: #1E2025;
}

#home #particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
}

#home #name {
  -webkit-transition: 600ms;
  transition: 600ms;
  font-size: 2.3rem;
  text-align: left;
  color: white;
}

#home #bio {
  position: relative;
  top: 0px;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
}

#home .bio {
  text-align: justify;
  font-size: 1.2rem;
}

#home #cursor {
  -webkit-animation: blink 1s infinite;
          animation: blink 1s infinite;
}

#home .resume {
  position: relative;
  background: black;
  color: white;
  border-radius: 5px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 1rem;
  left: 50%;
  top: 10px;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
  text-shadow: none;
  -webkit-transition: 800ms;
  transition: 800ms;
}

#home .resume a, #home .resume a:hover, #home .resume a:focus, #home .resume a:active {
  text-decoration: none;
  color: inherit;
}

#home .resume:hover {
  cursor: pointer;
  -webkit-transform: translateX(-50%) scale(1.1);
          transform: translateX(-50%) scale(1.1);
}

#home .btn {
  position: relative;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 600ms;
  transition: 600ms;
}

#home .btn:hover {
  cursor: pointer;
}

#home .btn .chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

#home .btn .chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

#home .btn .chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

#home .btn .chevron:before, #home .btn .chevron:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #A0C1FF;
}

#home .btn .chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

#home .btn .chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

#home[data-scroll="in"] {
  top: 0;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 600ms;
  transition: 600ms;
  z-index: 4;
  background: #0F0F0F;
  color: white;
}

.about #about-img {
  height: 60vw;
  z-index: 5;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 10px white;
          box-shadow: 0 0 0 10px white;
  margin-bottom: 20px;
}

.about #quote {
  position: absolute;
  top: -10px;
  left: -10px;
  height: 50px;
  width: 50px;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  opacity: 0.2;
}

.about div {
  position: inherit;
  left: -10vw;
  opacity: 0;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.about div[data-scroll="in"] {
  left: 0;
  opacity: 1;
}

.services .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  padding: 20px;
}

.services #soft {
  background: url("./../../src/images/soft.jpg");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
}

.services #web {
  background: url("./../../src/images/web.jpg");
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.services #visuals {
  background: url("./../../src/images/visuals.jpg");
  background-blend-mode: difference;
  background-size: cover;
  /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
}

.services .card {
  position: relative;
  background: rgba(255, 255, 255, 0.159);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 10px;
  min-height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .card .content {
  text-align: justify;
  color: black;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 20px;
}

.services .card #services {
  position: absolute;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  min-width: 100%;
  padding: 10px;
}

.services .card #services .title {
  font-size: 1.2rem;
}

.services .card .title-3 {
  position: relative;
  color: black;
  font-size: 1.5rem;
  top: 0;
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
}

.services .card:hover {
  cursor: pointer;
}

.services .card:hover .content {
  opacity: 0;
}

.services .card:hover .title-3 {
  opacity: 0;
}

.services .card:hover #services {
  opacity: 1;
}

.services .card .bookmark::before {
  position: absolute;
  content: "";
  bottom: -15px;
  width: 0rem;
  height: 2rem;
  border-left: 1.5rem solid #111111;
  border-right: 1.5rem solid #111111;
  border-bottom: 1rem solid transparent;
  background: rgba(255, 255, 255, 0);
}

.services .card .bookmark {
  position: absolute;
  -webkit-box-shadow: 0 0 15px #bee8ff;
          box-shadow: 0 0 15px #bee8ff;
  word-break: break-all;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  width: 3rem;
  top: -2%;
  height: 4.4rem;
  right: 10%;
  background: #111111;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.services .language div {
  color: #090a0f;
}

.services .language .skillbox .percentage {
  background-color: #DDDDDD;
  border-radius: 5px;
}

.services .language .skillbox .percentage div {
  border-radius: 5px;
  padding-left: 3px;
}

.services .language .skillbox .percentage {
  height: 5px;
}

.services .language .skillbox #c {
  background-color: #4f89f5;
  width: 85%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #cplus {
  background-color: #3402a7;
  width: 90%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #cs {
  background-color: #4e4eca;
  width: 70%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #java {
  background-color: #F56161;
  width: 75%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #py {
  background-color: #1463da;
  width: 80%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #kt {
  background-color: #123f92;
  width: 60%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #go {
  background-color: #4f9ffa;
  width: 60%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #html {
  background-color: #ff8800;
  width: 90%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #css {
  background-color: #8ac1ff;
  width: 75%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #js {
  background-color: #f8fa76;
  width: 60%;
  color: black;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #php {
  background-color: #7699fa;
  width: 50%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #sketch {
  background-color: black;
  width: 80%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #digi {
  background-color: #ffc493;
  width: 85%;
  color: black;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #logo {
  background-color: #ff3b3b;
  width: 90%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #threed {
  background-color: #fdff70;
  width: 65%;
  color: black;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .language .skillbox #twod {
  background-color: #7473ac;
  width: 70%;
  color: white;
  padding-left: 5px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.services .percentage div {
  height: 5px;
}

.contact_me {
  position: relative;
  margin: 0;
  color: white;
  text-align: center;
  opacity: 1;
  -webkit-transition: 600ms;
  transition: 600ms;
  z-index: 2;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow-y: hidden;
}

.contact_me form input[type=text], .contact_me form input[type=email] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 88vw;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.contact_me form input[type=text]:focus, .contact_me form input[type=email]:focus {
  background-color: transparent;
  width: 90vw;
  border-color: #1ca1c2;
}

.contact_me form input[type=submit] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
}

.contact_me form input[type=submit]:hover {
  background: white;
  color: black;
  -webkit-box-shadow: 0 0 20px white;
          box-shadow: 0 0 20px white;
}

.contact_me form textarea {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 14px 10px;
  width: 88vw;
  outline: none;
  color: white;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.contact_me form textarea:focus {
  width: 90vw;
  border-color: #1ca1c2;
}

::-webkit-input-placeholder {
  font-family: Now;
  color: white;
  font-size: 1rem;
}

:-ms-input-placeholder {
  font-family: Now;
  color: white;
  font-size: 1rem;
}

::-ms-input-placeholder {
  font-family: Now;
  color: white;
  font-size: 1rem;
}

::placeholder {
  font-family: Now;
  color: white;
  font-size: 1rem;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.socials {
  text-align: center;
  margin-top: 100px;
}

.socials .title-3 {
  text-align: center;
}

.socials #sites {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}

.game {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

footer {
  font-size: 1rem;
  text-align: center;
  color: white;
  background: black;
  padding: 5px;
  z-index: 100;
}

footer .copyright a {
  text-decoration: none;
  color: white;
}

footer .copyright a:hover {
  cursor: pointer;
}

@-webkit-keyframes blink {
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

@keyframes blink {
  50% {
    color: white;
  }
  100% {
    color: black;
  }
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 10px;
  }
}

@media (orientation: landscape) and (min-device-aspect-ratio: 1 / 1) {
  #home .content {
    padding: 0 15vw 0 15vw;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about #about-img {
    max-height: 50vh;
  }
  .about #quote {
    height: 50px;
    width: 50px;
  }
  .services {
    padding-left: 5%;
    padding-right: 5%;
  }
  .services .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    padding: 20px;
  }
  .contact_me form input[type=text], .contact_me form input[type=email] {
    width: 50vw;
  }
  .contact_me form input[type=text]:focus, .contact_me form input[type=email]:focus {
    width: 55vw;
  }
  .contact_me form textarea {
    width: 50vw;
  }
  .contact_me form textarea:focus {
    width: 55vw;
  }
}
/*# sourceMappingURL=style.css.map */