
@font-face{
    font-family: 'Now-Regular';
    src: url('./../src/fonts/Now-Regular.otf');
}


* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html{
    font-size: 10px;
}




body{
    font-family: 'Now-Regular';
    text-align: justify;
    background: rgb(46, 46, 55);
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

body #load {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 100%;
  background: white;
  color: black;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
          transform: translate(-50%, -50%) rotate(0deg) scale(1);
  z-index: 100;
  -webkit-transition: 600ms;
  transition: 600ms;
}

body #load.done {
  visibility: hidden;
  opacity: 0;
  z-index: -10;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}


header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 10px;
  align-items: center;
  width: 100vw;
  height: 100%;
  background: black;
  text-decoration: none;
  font-weight: 100;
  color: rgb(213, 235, 255);
}

header .header{
  background: none;
  padding: 0;
}


h1{
    text-align: left;

    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin: 0;

    background: linear-gradient(90deg, #4400ff7c, #02afff79);
    color: rgb(255, 255, 255);
}


hr{
    width: 100%;
    color: rgb(0, 0, 0);
}

p{
  padding: 10px;
  text-align: justify;
  width: 100%;
}

pre{
  padding: 10px;
}

code{
  position: relative;
  border-radius: 10px;
  height: min-content;
  width: 80vw;
  overflow-x: scroll;
}

.container .blog{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(#5631bb44, #02afff51);
}


.blogs .container{
  display: grid;
  grid-template-rows: repeat(1, auto);
  width: 90vw;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

section{
  overflow: hidden;
  z-index: 3;
  padding: 10px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.videos .container{
  margin: 10px;
  display: -ms-grid;
  display: grid;
  grid-template-rows: repeat(1, auto);
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videos{
  padding: 0;
}

.videos iframe {
    height: 45vw;
    width: 90vw;
    border: 2px solid black;
    background: #131316;
}




footer {
  font-size: 1rem;
  text-align: center;
  color: white;
  background: black;
  padding: 5px;
  z-index: 100;
}

footer .copyright a {
  text-decoration: none;
  color: white;
}

footer .copyright a:hover {
  cursor: pointer;
}




@media screen and (min-width: 900px) {
    html{
      font-size: 14px;
    }
  }
  
  @media screen and (min-width: 700px) {
    html{
      font-size: 12px;
    }
  }
@media (orientation: landscape) and (min-device-aspect-ratio: 1/1)  {
    .videos .container{
      grid-template-columns: repeat(2, auto);
      justify-content: space-around;
    }
    .videos iframe {
      height: 40vh;
      width: 80vh;
    }
}