@font-face {
  font-family: 'Now-Regular';
  src: url("./../src/fonts/Now-Regular.otf");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Now-Regular';
  text-align: justify;
  background: #2e2e37;
  color: white;
  overflow-x: hidden;
}

body #load {
  position: fixed;
  left: 50%;
  top: 50%;
  padding: 100%;
  background: white;
  color: black;
  font-size: 20px;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
          transform: translate(-50%, -50%) rotate(0deg) scale(1);
  z-index: 100;
  -webkit-transition: 600ms;
  transition: 600ms;
}

body #load.done {
  visibility: hidden;
  opacity: 0;
  z-index: -10;
  scrollbar-width: thin;
}

#particles-js {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
  background: black;
  text-decoration: none;
  font-weight: 100;
  color: #d5ebff;
}

header .header {
  background: none;
  padding: 0;
}

h1 {
  text-align: left;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#4400ff7c), to(#02afff79));
  background: linear-gradient(90deg, #4400ff7c, #02afff79);
  color: white;
}

hr {
  width: 100%;
  color: black;
}

p {
  padding: 10px;
  text-align: justify;
  width: 100%;
}

pre {
  padding: 10px;
}

code {
  position: relative;
  border-radius: 10px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 80vw;
  overflow-x: scroll;
}

.container .blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding: 10px;
  min-height: 100%;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#5631bb44), to(#02afff51));
  background: linear-gradient(#5631bb44, #02afff51);
}

.blogs .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[1];
      grid-template-rows: repeat(1, auto);
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  overflow: hidden;
  z-index: 3;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.videos .container {
  margin: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[1];
      grid-template-rows: repeat(1, auto);
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videos {
  padding: 0;
  width: 100%;
}

.videos iframe {
  height: 45vw;
  width: 90vw;
  border: 2px solid black;
  background: #131316;
  margin: 20px;
}

footer {
  font-size: 1rem;
  text-align: center;
  color: white;
  background: black;
  padding: 5px;
  z-index: 100;
}

footer .copyright a {
  text-decoration: none;
  color: white;
}

footer .copyright a:hover {
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 700px) {
  html {
    font-size: 12px;
  }
}

@media (orientation: landscape) and (min-device-aspect-ratio: 1 / 1) {
  .videos .container {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .videos iframe {
    height: 40vh;
    width: 80vh;
  }
}
/*# sourceMappingURL=style.css.map */