@font-face {
  font-family: Now;
  src: url("./../fonts/Now-Regular.otf");
}

:root{
  --bookmark: white;
  --white: rgba(255, 255, 255, 0.9);
  --black: rgba(0, 0, 0, 0.9);
  --blue: rgba(2, 163, 226, 0.9);
  --primary: #222C35;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Now, Arial, Helvetica, sans-serif;
}

a{
  color: var(--blue);
}

html{
    font-size: 12px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    //scroll-snap-type: y mandatory;
}

#load{
  position: fixed;	
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;	
  left: 50%;
  top: 50%;		
  background: black;
  color: var(--white);
  font-size:20px;
  opacity:1;
  visibility: visible;
  transform: translate(-50%, -50%);
  z-index: 100;
    &.done{
      visibility: hidden !important;
      opacity:0 !important;
      z-index: -10 !important;
    }
}

.viewport{
  display: block !important;
}
#popupwrap{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #000000af;
  z-index: 90;
  visibility: hidden;
  &.active{
    visibility: visible;
  }
}


#popup{
  position: absolute;
  background: var(--white);
  top: 50%;
  left: 50%;
  min-width: 50vw;
  min-height: 40vw;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  transition: 400ms;
  z-index: 100;
  box-shadow: 0 0 45px var(--blue);
  h1{
    position: relative;
    font-size: 4rem;
    color: var(--black);
  }
  #close{
      position: relative;
      padding: 10px;
      color: var(--white);
      font-size: 1rem;
      margin: 10px;
      background-color: var(--black);
      border: none;
      border-radius: 10px;
      transition: 600ms;
      transform: scale(1);
      &:hover{
          transform:  scale(1.1);
          cursor: pointer;
      }
  }
  &.active{
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

body{
    user-select: none;
    background: var(--primary);
    color: var(--white);
}


.title-2{
    font-size: 3rem;
    font-family: Now, serif;
    z-index: 2;
}

.title-3{
 font-size: 2rem;
 text-align: left;
 z-index: 2;
}

strong{
  color: var(--blue);
  transition: 600ms;
  &:hover{
    cursor: pointer;
    color: var(--white);
    text-shadow: 0 0 10px var(--blue);
  }
}



header{
  position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    transition: 600ms;
    #navbar{
      position: fixed;
      visibility: hidden;
      opacity: 0;
      width: 90vw;
      height: 100vh;
      top: 0;
      right: -50vw;
      transition: 300ms;
      ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        li{
          position: relative;
          margin: 20px 5px 5px;
          font-size: 1.5rem;
          a{
            color: var(--white);
            text-decoration: none;
          }
          &::after{
            content: "";
            position: absolute;
            height: 2px;
              width: 100%;
              bottom: 0;
              left: 0;
              background: var(--blue);
              transform: scaleX(0);
              transition: 300ms;
            }
            &:hover{
              cursor: pointer;
              &::after{
              transform: scaleX(1);
            }
          }
        }
      }
      &.active{
        visibility: visible;
        opacity: 1;
        right: 0;
        background: rgba(0, 0, 0, 0.967);
      }
    }
    #cross{
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      font-size: 3rem;
      z-index: 2;
      transition: 300ms;
      &.rotate{
        transform: rotate(180deg);
      }
    }
  }
  
  
  section{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: max-content;
  justify-content: center;
  text-align: justify;
  overflow: hidden;
  font-size: 1.2rem;
  padding: 4rem 5%;
  //scroll-snap-align: start;
}

#st{
  margin: 0;
  padding: 0;
  position: fixed;
}

#particles-js{
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 4;
}
canvas{
  position: fixed;
  z-index: 4;
}
#home{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  transition: 600ms;
  color: var(--black);
  background-image: radial-gradient(circle at top right, rgba(163, 98, 73, 0.13), transparent),
  radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
  background-size: cover;
  background-attachment: fixed;
  z-index: 5;
  .content{
    transform: translateY(25%);
  }
  #name {
      position: relative;
      transition: 600ms;
      font-size: 2.3rem;
      text-align: left;
      color: var(--white);
      h1{
        position: relative;
        z-index: 5;
      }
    }
    #bio {
      position: relative;
      top: 0;
      opacity: 1;
      transition: 600ms;
      color: var(--white);
    }    
    .bio{
        text-align: justify;
        font-size: 1.2rem;
      }

      #cursor{
      animation: blink 600ms infinite;
    }
    .buttons{
      position: relative;
      .resume{
        position: relative;
        a, a:hover, a:focus, a:active {
          text-decoration: none;
          color: inherit;
        }
        background: var(--white);
        color: var(--black);
        border-radius: 5px;
        max-width: max-content;
        padding: 1rem;
        left: 50%;
        top: 10px;
        transform: translateX(-50%) scale(1);
        text-shadow: none;
        transition: 800ms;
        &:hover{
          cursor: pointer;
          transform: translateX(-50%)scale(1.1);
        }
      }
    }
    .btn{
      position: relative;
      z-index: 7;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 3rem;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 30px;
      transition: 600ms;
      &:hover{
        cursor: pointer;
      }
        .chevron {
          position: absolute;
          top: 0;
          width: 2.1rem;
          height: 0.48rem;
          opacity: 0;
          transform: scale(0.3);
          animation: move-chevron 1.5s ease-out infinite;
          &:first-child {
            animation: move-chevron 1.5s ease-out 0.5s infinite;
          }
          &:nth-child(2) {
            animation: move-chevron 1.5s ease-out 1s infinite;
          }
          &:before,
          &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 100%;
            width: 50%;
            background: #A0C1FF;
          }
          
          &:before {
            left: 0;
            transform: skewY(30deg);
          }
          
          &:after {
            right: 0;
            width: 50%;
            transform: skewY(-30deg);
          }
        }
        
    }
}


.about{
  position: relative;
  display: flex;
  gap: 3rem;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 600ms;
  z-index: 5;
  background:#222c35;
  color: var(--white);
  #about-img{
    position: relative;
    left: -100px;
    opacity: 0;
    order: 0;
    height: 60vw;
    z-index: 5;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: 600ms;
    &[data-scroll="in"]{
      left: 0;
      opacity: 1;
    }
  }
  .container{
    order: 1;
  }
  #quote {
    position: absolute;
    top: -10px;
    left: -10px;
    height: 50px;
    width: 50px;
    filter: invert(1);
    transform: scale(1.3);
    opacity: 0.2;
  }
  div{
    position: inherit;
    left: 100px;
    opacity: 0;
    transition: 600ms;
    transition-delay: 200ms;
    &[data-scroll="in"]{
      left: 0;
      opacity: 1;
    }
  }
}
.works{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background: #222c35;
  color: var(white);
  margin: 0;
  padding: 0;
  z-index: 5;
  &::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(14, 23, 31, 0.768);
  }
  .container{
    color: rgb(204, 204, 204);
    height: 100%;
    text-align: justify;
    #github-projects{
      padding: 50px 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
      background: url("../images/5.webp") center;
      background-size: cover;
      ul{
        color: var(--white);
        position: relative;
        list-style: none;
        //background:#1b2735;
        &::before{
          content:"";
          display: inline-block;
          width: 2px;
          background: var(--white);
          position: absolute;
          left:3px;
          top: 5px;
          height: calc(100% - 10px);
        }
        li{
          position: relative;
          padding-left: 15px;
          margin-bottom:15px;
          left: 40%;
          opacity: 0.1;
          transition: 600ms;
          &::before{
            content:"";
            display: inline-block;
            width: 8px;
            height: 8px;
            background: var(--white);
            position: absolute;
            left:0;
            top:5px;
            border-radius: 10px;
          }
          &:hover{
            cursor: pointer;
          }
          &[data-scroll="in"]{
            opacity: 1;
            left: 0;
          }
        }
        
      }
    }
    #image-gallary{
      min-height: max-content;
      padding-bottom: 5%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
      background: rgba(107, 138, 163, 0.707);
      .title-2{
        padding: 20px;
      }
    }
  }
}

/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 072 css*/
.jssorb072 .i {position:absolute;color:#000;font-family:"Helvetica neue",Helvetica,Arial,sans-serif;text-align:center;cursor:pointer;z-index:0;}
.jssorb072 .i .b {fill:rgba(255, 255, 255, 0.631);opacity:.3;}
.jssorb072 .i:hover {opacity:.7;}
.jssorb072 .iav {color:#fff;}
.jssorb072 .iav .b {fill:#000;opacity:.5;}
.jssorb072 .i.idn {opacity:.3;}

.n{color:rgb(22, 22, 22);}
/*jssor slider arrow skin 073 css*/
.jssora073 {display:block;position:absolute;cursor:pointer;}
.jssora073 .a {fill:#ddd;fill-opacity:.7;stroke:#000;stroke-width:160;stroke-miterlimit:10;stroke-opacity:.7;}
.jssora073:hover {opacity:.8;}
.jssora073.jssora073dn {opacity:.4;}
.jssora073.jssora073ds {opacity:.3;pointer-events:none;}

.services{
  background: url("../images/1.webp") center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 5;
  .container{
    &::before{
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background: rgba(26, 38, 45, 0.85);
    }
    display: grid;
    grid-auto-flow: row;
    gap: 30px;
    padding: 0 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}
#soft{
  background: url("./../../src/images/software.webp") no-repeat center center;
  background-size: cover;                      /* <------ */
}
#web{
  background: url("./../../src/images/web.webp") no-repeat center center;
  background-size: cover;                      /* <------ */
}
#visuals{
  background: url("./../../src/images/visuals.webp") no-repeat center center;
  background-size: cover;                      /* <------ */
}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    &:hover{
      transform: scale(1.05);
    }
    .content{
        text-align: justify;
        color: var(--black);
        transition: 600ms;
        padding: 20px;
    }
    .language{
        .title{
          font-size: 1.2rem;
        }
        position: absolute;
        opacity: 0;
        transition: 600ms;
        min-width: 100%;
        padding: 10px;
        color: var(--black);
    }
    .title-3{
        position: relative;
        color:var(--black);
        font-size: 1.5rem;
        top: 0;
        opacity: 1;
        transition: 600ms;
    }
    &:hover{
        cursor: pointer;
        .content{
            opacity: 0;
        }
        .title-3{
            opacity: 0;
        }
        .language{
            opacity: 1;
        }
    }
    .bookmark::before{
        position: absolute;
        content: "";
        bottom: -15px;
        width: 0;
        height: 2rem;
        border-left: 1.5rem solid var(--bookmark);
        border-right: 1.5rem solid var(--bookmark);
        border-bottom: 1rem solid transparent;
        background: rgba(255, 255, 255, 0);
      }
      .bookmark{
        z-index: 2;
        position: absolute;
        box-shadow: 0 0 15px rgb(190, 232, 255);
        word-break: break-all;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        width: 3rem;
        top: -2%;
        height: 4.4rem;
        right: 10%;
        background: var(--bookmark);
        color: var(--white);
        transition: 600ms;
    }
}

  .skillbox .percentage {
    background-color: #bababa;
    border-radius: 5px;
    height: 5px;
    div {
    border-radius: 5px;
    padding-left: 3px;
    }
  }
  #c {
    background-color: #4f89f5;
    width: 85%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #cplus {
    background-color: #3402a7;
    width: 90%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #cs {
    background-color: #4e4eca;
    width: 70%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #java {
    background-color: #F56161;
    width: 75%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #py {
    background-color: #1463da;
    width: 80%;
    color: var(--white);
    padding-left: 5px;transition: 600ms;
  }
  
  #kt {
    background-color: #123f92;
    width: 60%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #go {
    background-color: #4f9ffa;
    width: 60%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #html {
    background-color: #ff8800;
    width: 90%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #css {
    background-color: #8ac1ff;
    width: 75%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #js {
    background-color: #f8fa76;
    width: 60%;
    color: var(--black);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #php {
    background-color: #7699fa;
    width: 50%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #sketch {
    background-color: var(--black);
    width: 80%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }

  #digi {
    background-color: #ffc493;
    width: 85%;
    color: var(--black);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #logo {
    background-color: #ff3b3b;
    width: 90%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #threed {
    background-color: #fdff70;
    width: 65%;
    color: var(--black);
    padding-left: 5px;
    transition: 600ms;
  }
  
  #twod {
    background-color: #7473ac;
    width: 70%;
    color: var(--white);
    padding-left: 5px;
    transition: 600ms;
  }
  
  .percentage div {
    height: 5px;
  }
}

@mixin hover {
    background: var(--white);
    color: var(--black);
    box-shadow: 0 0 20px var(--white);
}

.contact_me {
    position: relative;
    margin: 0;
    padding-top: 10vh;
    color: var(--white);
    text-align: center;
    opacity: 1;
    transition: 600ms;
    overflow-y: hidden;
    z-index: 5;
    #myname{
      grid-area: name;
    }
    #email{
      grid-area: email;
    }
    #myname, #email{
        background: none;
        margin: 20px auto;
        text-align: center;
        border: none;
        border-bottom: 2px solid var(--white);
        padding: 14px 10px;
        width: 88vw;
        outline: none;
        color: var(--white);
        transition: 0.25s;
        &:focus {
          background-color: transparent;
          width: 90vw;
          border-color: #1ca1c2;
        }
      }
      #message{
          grid-area: message;
          background: none;
          display: block;
          margin: 20px auto;
          text-align: center;
          border: none;
          border-bottom: 2px solid var(--white);
          padding: 14px 10px;
          width: 88vw;
          outline: none;
          color: var(--white);
          -webkit-transition: 0.25s;
          transition: 0.25s;
          &:focus {
            width: 90vw;
            border-color: #1ca1c2;
          }
      }
    #submit{
      grid-area: send;
      background: none;
      display: block;
      margin: 20px auto;
      text-align: center;
      border: 2px solid var(--white);
      padding: 10px 30px;
      outline: none;
      color: var(--white);
      border-radius: 10px;
      transition: 0.25s;
      cursor: pointer;
      &:hover {
        @include hover;
      }
    }
  }
  ::placeholder {
    font-family: Now, serif;
    color: var(--white);
    font-size: 1rem;
  }

  .contact-info{
    display: grid;
    grid-template-areas: "slinkcap slinkcap"
                          "slink slink"
                          "address address"
                          "game qlink";
                          
    gap: 10px;
    .title-3{
      padding: 10px;
      text-align: center;
      grid-area: slinkcap;
    }
    .social-links{
      grid-area: slink;
      display: flex;
      flex-direction: row;
      gap: 10px;
      justify-content: space-around;
      align-items: center;
    }
    address{
      grid-area: address;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    .quicklinks{
      grid-area: qlink;
    }
  }
  .game {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: "title title title title"
                          ". radiusraid haloween .";
    gap: 10px;
    img{
      border-radius: 10px;
    }
    .title-3{
      font-size: 1.1rem;
      grid-area: title;
    }
    #radiusraid{
      grid-area: radiusraid;
    }
    #haloween{
      grid-area: haloween;
    }
  }

img .lazy{
  min-height: 100px;
}

footer {
    position: relative;
    font-size: 1rem;
    text-align: center;
    color: var(--white);
    background: black;
    padding: 5px;
    z-index: 5;
    display: grid;
    justify-content: center;
    align-items: center;
    ul{
      list-style: none;
      li{
        cursor: pointer;
      }
    }
    .copyright{
      padding-top: 30px;
      a{
        text-decoration: none;
        color:var(--white);
        &:hover{
          cursor: pointer;
        }
      }
      
    }
}
@keyframes blink {
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
@media screen and (max-width: 900px) {
  html{
    font-size: 11px;
  }
}
@media screen and (max-width: 700px) {
  html{
    font-size: 10px;
  }
}
@media (orientation: landscape) and (min-device-aspect-ratio: 1/1) {
    #cross{
      display: none;
    }
    header{
      #navbar{
        visibility: visible;
        top: 0;
        left: 0;
        height: unset;
        opacity: 1;
        position: fixed;
        width: 100%;
        ul{
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          list-style: none;
          transition: 300ms;
          &.scrolled{
            background: var(--blue);
            box-shadow: 0 -2px 5px black;
            li::after{
                background: var(--white);
            }
          }
          li{
            position: relative;
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            font-size: unset;
          }
        }
      }
    }
    #popup{
      min-width: 50vh;
      min-height: 40vh;
    }
    #home .content{
      margin: 0 15vw 0 15vw;
    }
    .about{
      display: flex;
      flex-direction: row;
      #about-img{
        max-height: 50vh;
      }
      #quote{
        height: 50px;
        width: 50px;
      }
    }
    .services{
      padding-left: 5%;
      padding-right: 5%;
      .container{
        display: grid;
        grid-auto-flow: column;
        gap: 30px;
        padding: 20px;
      }
    }
    footer{
      overflow: hidden;
      ul{
        list-style: none;
        li{
          cursor: pointer;
        }
      }
      min-height: 100vh;
      display: grid;
      align-items: flex-end;
      justify-content: space-between;
      gap: 20px;
      grid-template-rows: 90% 5%;
      grid-template-columns: 50% 50%;
      grid-template-areas: "socials contact"
                            "socials contact"
                            "footer footer";
    }
    .contact_me{
      grid-area: contact;
      display: grid;
      align-items: center;
      justify-content: center;
      #form{
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: "name message message"
                            "email message message"
                            ". send .";
        overflow: hidden; 
      }
      #myname, #email{
        width: 90%;
        &:focus {
          width: 100%;
        }
      }
      #message {
           width: 90%;
           &:focus {
                 width: 100%;
               }
           }
    }
    .socials{
      grid-area: socials;
    }
    .copyright{
      grid-area: footer;
    }
    .contact-info{
      grid-template-areas: "slinkcap slinkcap"
      "slink slink"
      "address qlink"
      "game qlink";
    }
}  
    